html, body {
    overflow-x: hidden;
}
body {
    overflow-x: hidden;
    position: relative
}
.removespace{
    position: relative;
    background-color: var(--color-body);
    min-height: 10vh !important;
    top:0;
    left:78px;
    width: calc(100% - 78px);
    transition: all .5s ease;
    z-index: 2;
}
.home-section .actualbody{
    position: relative;
    background-color: var(--color-body);
    min-height: 100vh !important;
    top:0;
    left:78px;
    width: calc(100% - 78px);
    transition: all .5s ease;
    z-index: 2;
}
.content {
    margin-top: -10px;
    height: calc(100vh + 130px);
    height:fit-content
}
.empty {
    display: flex;
    color:var(--color-text);
    font-size: 25px;
    font-weight: 700;
    margin: auto;
    height: 100vh;
    flex-direction: column;
}
.empty_header {
    font-size: 45px;
    margin: 15px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    height:auto;
    text-align: center;
}
.empty_p {
    font-size: 18px;
    margin-bottom: 18px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}
.go_to_tobepubBtn {
    border: none;
    background-color: #5a1010;
    padding: 15px 10px 15px 10px;
    border-radius: 25px;
    max-height: 50px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: all .5s ease;
    cursor: pointer;
    color: white;
    min-height: 70px !important;
    font-size: 30px;
    min-width: 300px;
}
.go_to_tobepubBtn:hover {
    background-color: #d52020 !important;
    color: white !important;
}
.bxs-plus-square {
    display: inline-block;
    font-size: 25px;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
}
.btnContent {
    display: inline-block;
    font-size: 15px;
    color: white;
}
.result_container {
    border: none;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    margin-top: 8px;
    margin-bottom: 8px;
    color:var(--color-content-text);
    background-color: var(--color-content-card);
    padding: 5px 10px 5px 10px;
    box-shadow: var(--color-container-shadow);
}
h2 {
    margin-left: 30px;
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}
.result {
    border: solid var(--color-text);
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 96%;
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 15px;
    overflow-x:visible;
    white-space: nowrap;
}
table {
    table-layout: fixed;
    width: 100%;
    padding: 5px;
    overflow-x: auto;
    white-space: nowrap;
}
.responsive-table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}
th {
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    padding: 5px;
}
td {
    font-size: 15px;
    text-align: center;
    border-top: 2px solid rgb(53, 45, 67);
    border-collapse: collapse;
    padding: 5px;
    text-overflow: ellipsis;
    width: 100%;
    min-width: 100px;
}
h2 {
    display: block;

}
input {
    max-width: 300px;
    min-width: 50px;
    margin-right: 10px;
    margin-left: auto;
    max-height: 40px;
    color:black;
}
.archive_btn {
    cursor: pointer;
    float: right;
    margin-right: 30px;
    border-radius: 25px;
    padding: 5px 15px 5px 15px;
    transition: all .5s ease;
    max-height: 40px;
    color: black;
    background-color: rgb(189, 212, 38);
    text-align: center;
}
.archive_btn:hover {
    background-color: rgb(246, 246, 52);
}
.archive-wrapper {
    display:none;
    width: 100%;
    height: calc(100vh + 130px);
    z-index: 100;
    position: fixed;
    top: 0;
    overflow: auto;
    background-color: #716e6e7d;
    vertical-align: middle;
}
.arcc {
    display:none;
    position:relative;
    margin-top: 130px;
    z-index: 15;
    border: solid 1px black;
    border-radius: 25px;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    background-color: var(--color-calendar_head);
    max-width: 400px;
    min-width: 250px;
    margin-left: auto;
    margin-right: auto;
}
.arc-btn {
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    min-width: 150px;
    height: fit-content;
    border-radius: 25px;
    box-shadow: 0 8px 8px -4px black;
    background-color: var(--color-calendar_head);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color:var(--color-text);
}
.arc-head {
    font-weight: bold;
    font-size: 30px;
    color: var(--color-text);
    margin-left: auto;
    margin-right: auto;
}
.arc-p {
    font-size: 18px;
    color: var(--color-text);
    margin-left: auto;
    margin-right: auto;
}
.fa-long-arrow-right {
    font-size: 25px !important;
}
.fa-check-circle {
    color: green;
    font-size: 100px !important;
}
.cau-wrapper {
    display:none;
    width: 100%;
    height: calc(100vh + 130px);
    z-index: 100;
    position: fixed;
    top: 0;
    overflow: auto;
    background-color: #716e6e7d;
    vertical-align: middle;
}
.bacc {
    display:none;
    position:relative;
    margin-top: 130px;
    z-index: 15;
    border: solid 1px black;
    border-radius: 25px;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    background-color: var(--color-calendar_head);
    max-width: 400px;
    min-width: 250px;
    margin-left: auto;
    margin-right: auto;
}
.gobackbtn {
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    min-width: 150px;
    height: fit-content;
    border-radius: 25px;
    box-shadow: 0 8px 8px -4px black;
    background-color: var(--color-calendar_head);
    border: solid 1px var(--color-text);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color:var(--color-text);
    transition: all .5s ease;
}
.gobackbtn:hover {
    color: var(--color-body);
    background-color: var(--color-text);
}
.gobtn {
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    min-width: 150px;
    height: fit-content;
    border-radius: 25px;
    box-shadow: 0 8px 8px -4px black;
    background-color: rgb(169, 9, 9);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color:var(--color-text);
    transition: all .5s ease;
}
.gobtn:hover {
    background-color: red;
}
.fa-exclamation-triangle {
    color:rgb(214, 151, 36);
    font-size: 100px !important;
}
.bx-archive-in {
    display: inline-block;
    font-size: 22px;
    margin-left: 5px;
    margin-right: 5px;
    color: var(--color-text);
}
.ac {
    display: inline-block;
    font-size: 15px;
    color: var(--color-text);
    padding-bottom: 15px;
}
.no-result {
    margin-top: -85px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -200px;
    aspect-ratio: 1/1;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}
.text-container {
    max-width: 280px;
}
.text-header {
    padding: 15px;
}
.sched_output {
    background-color: var(--color-content-card) !important;
    color: var(--color-content-text);
}

@media screen and (max-width:460px){
    .removespace {
        width: 100% !important;
    }
    .actualbody {
        width: 83.5% !important;
        min-height: 120vh !important;
    }
    .sidebar {
        min-height: 127vh !important;
    }
    .sidebar.open ~ .home-section {
        width: calc(100% - 70px) !important;
    }
    .no-result {
        margin-bottom: -100px;
        margin-top: -60px;
        height: 50%;
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    h2 {
        display:flex;
        flex-direction: column;
        text-align: center;
        margin-left: -5px;
    }
    input {
        float: none;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        max-width: 400px;
    }
    .archive_btn {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
}
@media screen and (max-width: 1065px) {
    h2 {
        display:flex;
        flex-direction: column;
        text-align: center;
        margin-left: -5px;
    }
    input {
        float: none;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        max-width: 400px;
    }
    .archive_btn {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
}