:root {
    --color-acap: #9747FF;
    --color-aeces: #A84444;
    --color-elite: #DF851B;
    --color-give: #73A9CC;
    --color-jehra: #DC9C9A;
    --color-jmap: #FFBD44;
    --color-jpia: #CF1659;
    --color-piie: #16BA9D;
}
html[data-theme="dark"] {
    --color-body: #191424;
    --color-text: #fff;
    --color-rslt_cntr: #282135;
    --color-calendar_bod: #635B81CC;
    --color-calendar_head: #191424;
}

html[data-theme="light"] {
    --color-body: #D7D1BC;
    --color-text: #000;
    --color-rslt_cntr: #faf4e1;
    --color-calendar_bod: #ffe9cbcc;
    --color-calendar_head: #cba268cc;
}

[data-theme='light'] .lightmode,
[data-theme='dark'] .darkmode {
    display: block !important;
}