html{
    overflow-y: scroll;
    overflow-x: hidden;
}

#more-btn{
    display: none;
    justify-content: end;
    align-items: center;
}

#more-btn.editOpen{
    display: flex;
}

@media (max-width:576px) {
    #add-event-btn {
        padding: 14px 15px 14px 15px;
    }

    #add-event-btn i{
        font-size: 20px; 
    }

    #add-event-btn span{
        display: none;
    }
}

#event-wrapper{
    height: 100%;
    padding: 0;
}

#event-create-wrapper, #event-edit-wrapper{
    height: 100vh;
}

@media (max-width: 768px) {
    #event-create-wrapper, #event-edit-wrapper{
        height: 100%;
    }
}

#add-event-form{
    width: 100%;
}

#add-event-form label {
    color: var(--color-content-text);
}

.second-layer{
    height: 180px;
}

.judges-container{
    height: 134px;
}

@media (max-width:768px) {
    #add-event-container {
        height: 100%;
    }

    #confirm-cancel{
        height: 350px!important;
    }
}

#add-event-form #save-btn, #add-event-form #cancel-btn, .data-group #event-done-btn{
    border-radius: 50px;
    padding: 15px 35px 15px 35px;
    margin: 0px 10px 0px 10px;
}

#add-event-form #save-btn, #add-event-form #cancel-btn{
    margin: 5px 10px!important;
}

#cancel-btn, #event-done-btn {
    border: 2px solid var(--color-content-line);
    color: var(--color-content-text);
    background-color: transparent;
}

.doneClose{
    display: none;
}

#event-description{
    resize: none;
}

.dropdown-toggle{
    border-radius: 10px!important;
}

.dropdown-menu.show{
    max-width: 100%!important;
}


#event-data-container {
    height: 100%;
    width: 95%;
    background-color: var(--color-content-card);
    border-radius: 30px;
    margin: 10px 0 10px 0;
    padding: 50px;
}

#event-data-container .data-group p{
    color: var(--color-content-text);
}

.data-group{
    overflow-wrap: break-word;
}

.data-label{
    font-weight: bold;
    font-size: 16px;
    margin: 0;
}

.description, #no-code{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#eventBtn{
    display: flex;
    justify-content: end;
    align-items: end;
}

#no-event-container{
    width: 100%;
    height: 85vh;
    display: grid;
    align-content: center;
}

#no-event-container .bx-calendar-x{
    font-size: calc(8vw + 50px);
}

#no-event-container i, #no-event-container p, #no-event-container span, #add-event-btn i, #add-event-btn span{
    font-size: calc(0.6vw + 8px);
    color: var(--color-content-text);
}

#no-event-container h1{
    font-size: calc(25px + 1vw);
    font-weight: 700;
    color: var(--color-content-text);
}

#no-event-container #create-new-event-btn i, #no-event-container a i span, #add-event-btn i, #add-event-btn i span{
    color: white;
}

#no-event-container a button, #add-event-btn {
    border-radius: 50px;
    padding: 15px 25px 15px 25px;
}

@media (max-width:576px) {
    #add-event-btn{
        padding: 15px 15px 15px 15px;
    }
}

#code, .form-control[readonly] {
    opacity: 0!important;
}

#add-event-container form input, #add-event-container form #criteria, #add-event-container form #event-judges, #add-event-container form #no-code, #add-event-container form #display-code{
    border-radius: 10px!important;
    box-shadow: 0 4px 20px -6px var(--color-shadow);
}

.button-container {
    display: flex;
    justify-content: end!important;
    align-items: center!important;
    gap: 0.5625879043600562vw!important;
}

.form-control{
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16)!important;
}

button {
    outline: none!important;
}

#display-code {
    color: #999;
    pointer-events: none;
    user-select: none;
    -webkit-text-security: disc;
}

.icon-button {
    transition: 0.3s ease;
}

.icon-button:hover {
    transform: scale(120%);
    transition: 0.3s ease;
    margin: 3px;
}

#create-new-event-btn {
    max-width: 500px!important;
}

#create-event-btn {
    display: flex;
}

#create-event-btn.createNot {
    display: none;
}

#delete-event-btn {
    display: none;
}

#delete-event-btn.deleteActive {
    display: flex;
}

#criteria-container {
    height: 100%;
    width: 100%;
}

#criteria-container p {
    margin-bottom: 0;
}

.upper-layer, .lower-layer {
    font-weight: 700;
    color: var(--color-content-text); 
}

.upper-layer, .middle-layer, .lower-layer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
}

.middle-layer {
    height: 65%;
    color: var(--color-content-text); 
    justify-content: start;
    align-items: center;
    overflow-y: overlay;
}

#criterion-container {
    width: 100%;
}

#criterionName {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.groupCriteria {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.groupCriteria .icon-button {
    padding: 4px!important;
    box-shadow: none!important;
}

#add-event-form label {
    font-weight: bold;
}

#deleteEvent {
    visibility: visible;
}

#deleteEvent .popUpContainer {
    opacity: 1;
}

.filter-container {
    display: flex;
    gap: 10px;
    padding-left: 3%;
    margin-bottom: 10px;
    width: 65%;
}

.filter-container .element {
    padding: 15px!important;
    width: fit-content!important;
    border: none!important;
    border-radius: 15px!important;
    position: relative;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    user-select: none;
}

.filter-container .element form {
    text-align: start;
    display: flex;
    flex-direction: column;
}

.filter-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.filter-container .form-group {
    margin: 0;
    padding: 5px 5px ;
    display: flex;
    align-items: center;
}

.filter-container .order{
    border-top: 3px var(--color-content-line) solid;
}

.filter-container .form-group input[type="radio"], .filter-container .form-group input[type="checkbox"], .filter-container .form-group label{
    margin: 0!important;
    cursor: pointer;
}

.filter-container .form-group label{
    padding: 2px 3px;
}

.filter-container .sort-container, .filter-container .filtering-container{
    display: flex;
    justify-content: center;
}

#sortDropdown, #filterDropdown {
    margin-top: 58px!important;
    position: absolute;
    z-index: 99;
    display: none;
}

.filter-container .form-group input[type="radio"], .filter-container .form-group input[type="checkbox"] {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    height: 20px;
    border-radius: 50%;
    margin: 0!important;
    cursor: pointer;
  }
  
.filter-container .form-group input[type="radio"]::after, .filter-container .form-group input[type="checkbox"]::after {
    content: "";
    visibility: hidden;
    opacity: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--hover-primary-action-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all ease 0.3s;
}
  
.filter-container .form-group:hover{
    background-color: #cacaca84;
    border-radius: 8px;
}
  
.filter-container .form-group input[type="radio"]:checked::after, .filter-container .form-group input[type="checkbox"]:checked::after {
    visibility: visible;
    opacity: 1;
    background-color: var(--default-primary-action-color);
}
  
.searchbar-container {
    display: flex;
    align-items: center;
    margin: 0!important;
    position: relative;
}

.searchbar-container input[type="text"], #filterBtn, #sortBtn{
    margin: 0!important;
}

.searchbar-container {
    max-width: 450px;
    width: 60%;
}

.searchbar-container input[type="text"]{
    width: 100%;
    padding: 10px 0px 10px 45px!important;
}

.searchbar-container #searchIcon {
    position: absolute;
    font-size: 25px;
    margin-left: 13px;
    color: var(--color-content-text);
}

#noEvents {
    width: 400px;
    justify-self: center;
}

.element .not-included {    
    width: 100%;
    background-color: var(--default-primary-action-color);
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: none;
}

.element input[name="deleteEvent[]"] {
    outline: 8px var(--color-content-card) solid;
    outline-offset: -2px;
}