#criteriaConfigWrapper {
    display: flex;
    justify-content: center;
}

.upper-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upper-element h3 {
    font-size: 32px;
    font-weight: 600;
}

.middle-element {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 2px var(--color-content-line) solid;
    border-bottom: 2px var(--color-content-line) solid;
}

#addCriterion {
    margin: 20px 0;
}

.lower-element {
    text-align: end;
    margin: 10px 0;
    font-size: 21px;
    font-weight: 600;
}

.form-fields {
    width: 100%;
}

input[type="text"] {
    margin-top: 10px!important;
    background: transparent!important;
    border: transparent!important;
    border-bottom: 2px var(--color-content-text) solid!important;
    border-radius: 0!important;
    box-shadow: none!important;
    color: var(--color-content-text)!important;
}

.form-control::placeholder {
    color: var(--color-content-text);
}

input:not(.form-check-input) {
    margin-bottom: 5px!important;
}

#criterionForm, #criterionData {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#removeBtn {
    cursor: pointer;
}

p {
    margin-bottom: 0;
}

a {
    text-decoration: none!important;
}

.x-icon {
    align-items: center;
    color: #D03A36;
    font-size: 24px;
}

#categorySaveBtn:hover .tooltip-popup{
    visibility: visible;
    opacity: 1;
}

input[name="percentage[]"]{
    text-align: center;
}

#criterionInput, #criterionPercentInput {
    color: var(--color-content-line)!important;
    border-bottom: 2px var(--color-content-line) solid!important;
}

#criterionInput::placeholder, #criterionPercentInput::placeholder {
    color: var(--color-content-line);
}

input {
    height: 44px;
}

.bootstrap-select{
    display: inline-flex!important;
    border-radius: 10px!important;
    box-shadow: 0 4px 20px -6px var(--color-shadow);
}

.dropdown-menu.show{
    width: 100%;
}

input[type="search"]{
    color: black!important;
}

.tooltip-popup {
    width: fit-content;
}

#no-competition-container{
    width: 100%;
    height: 85vh;
    display: grid;
    align-content: center;
}

#no-competition-container .bxs-message-alt-x{
    font-size: calc(8vw + 50px);
}

#no-competition-container i, #no-competition-container p, #no-competition-container span, #add-competition-btn i, #add-competition-btn span{
    font-size: calc(0.6vw + 8px);
    color: var(--color-content-text);
}

#no-competition-container p {
    margin-bottom: 1rem!important;
}

#no-competition-container h1{
    font-size: calc(25px + 1vw);
    font-weight: 700;
    color: var(--color-content-text);
}

#no-competition-container a i, #no-competition-container a i span, #add-competition-btn i, #add-competition-btn i span{
    color: white;
}

#no-competition-container a button, #add-competition-btn {
    border-radius: 50px;
    padding: 15px 25px 15px 25px;
}

#create-new-event-btn {
    max-width: 500px!important;
}

#noCriteria {
    width: 300px;
    justify-self: center;
}