h3 {
    font-size: large;
    font-weight: 500;
    color: var(--color-white);
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 10px;
    white-space: nowrap;
  }
  
  .flex-container {
    width: calc(100% - 78px);
    flex-wrap: wrap;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


  }
  
  .main-containers {
    height: 550px;
    border-radius: 20px;
    background: var(--color-content-card);
    display: flex;
    justify-content: center;
    padding: 2%;
    left: 78px;
    box-shadow: var(--color-container-shadow);
    width: calc(100% - 78px);
    box-shadow: var(--color-shadow);

    align-items: center;
  }
  .container-header-1 {
    font-size: 30px;
    position: absolute;
    top: 30px;
    left: 60%;

    color: var(--color-content-text);
  }
  .container-header {
    font-size: 30px;
    position: absolute;
    top: 30px;
    left: 22%;

    color: var(--color-content-text);
  }
  
  
  .flex-box {
    width: calc(100% - 78px);
    height: 400px;
    background: var(--color-body);
    overflow-y: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: var(--color-container-shadow);

    margin-left: 20px;
  }
  .flex-box-1{
    width: calc(100% - 78px);
    height: 400px;
    flex-wrap: wrap;
    background: var(--color-body);
    flex-wrap: wrap;
    overflow-y: auto;
    text-align: center;
    display: block;
    align-items: center;
      flex-direction: column;
      box-shadow: var(--color-container-shadow);

      align-items: center;
    border-radius: 10px;
    margin-left: 20px;
  
  }
  
  
  #but {
    background-color: var(--color-sidebar-active);
    color:var(--color-content-text);
    margin-right: 50px;
    position: relative;
    border-radius: 10px;
    height: 50px;
    padding: 5px;
    cursor: pointer;
    font-family: 'Poppins';
    font-style: normal;
    margin-bottom: 10px;
  }
  
  #but:hover {
    background-color: #CF9FFF;
  }
  
  button {
    color:var(--color-content-text);
    background: var(--color-sidebar-subactive);
    border: none;
    padding: 1%;
    width: calc(80%);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    display: block;
    margin-left: 10%;
    align-items: center;
    padding: 3%;
    border-radius: 10px;
  }
  
  button:hover {
    background-color: #CF9FFF;
  }
  
  .search-wrapper {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: 5px;
  }
  
  .search-wrapper input[type="text"] {
    font-size: 18px;
    border-radius: 10px;
    margin-top: 5%;
    width: 80%;
    margin-left: 10%;
  }
  
  #buttons > button {
    display: none;
  }
  
  .activity_container label {
    display: block;
    margin-right: 10%;
    text-align: right;
    color: var(--color-content-text);

  }
  .form-check {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .form-check input[type="radio"] {
    display: none;
  }
  
  .form-check-label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 16px;
    width: auto; /* Adjust the width as needed */
    display: flex;
    align-items: center;
  }
  
  .form-check-label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: var(--color-sidebar-active);
    border-radius: 50%;
    transition: all 0.3s ease;
  }
  
  .form-check input[type="radio"]:checked + .form-check-label:before {
    background-color: #da3030;
  }
  
  .form-check-label:after {
    content: "";
    position: absolute;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #da3030;
    opacity: 0;
    transition: all 0.3s ease;
  }
  
  .form-check input[type="radio"]:checked + .form-check-label:after {
    opacity: 1;
  }
  
  
  
  
  .activity_container{
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
    align-items: self-end;
    white-space: nowrap;
  }
 
 
  
  .selected {
    background-color: #c02525;
  }
  
  #select_event_text {
    display: block;
    text-align: center;
    color:var(--color-content-text);
    font-size: 20px;
  }
 
  
  @media only screen and (max-width: 600px) {
    .main-containers {
      flex-direction: column;
      height: 100vh;
      width:90%;
      border-radius: 5px;
      margin-left: 10%;
      margin-right: 10%;
    }
  
    .flex-container {
      width: 320px;
    }
    .flex-box-1,.flex-box{
      height: 100vh;
      width:100%;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-right: 30px;
      margin-left:30px;
    }
    .btn-group{
      display: block;
    }
    .container-header,.container-header-1 {
      font-size: 20px;
      text-align: center;
      position: inherit;
    }
    
}  