@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.title{
    color: var(--color-content-text);
    font-size: 40px;
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: 10px;
}

.form1{
  position:absolute;
  margin-bottom: 50px;
  margin-top:120px;
  margin-left:60px;
}
.form2{
  position:absolute;
  margin-top:120px;
  margin-left:60px;
  top: 90px;
}

.buttonlink1{
  border-radius: 15px; 
  background: #73A9CC;
  font-family: Arial;
}

.buttonlink2{
  position: absolute;
  margin-left: 100px;
  padding: 15px;
  width: 150px;
  height: 40px;
  background: #73A9CC;
  border-radius: 30px;
  font-family: Arial;
}

.Jname {
  font-size: 12px;
  width: 300px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 40px;
  resize: vertical;
}

.Jnick {
  font-size: 12px;
  text-align: center;
  width: 250px;
  height: 40px;
  margin-left:40px;
  border: 1px solid #ccc;
  border-radius: 40px;
  resize: vertical;
}

.administrator{
  color:var(--color-content-text);
  font-size: clamp(10px, 16px);
  font-weight: 100;
  position: relative;
  margin-top: 40px;
  margin-right: 80px;
  text-align:right;
}

.buttonsubmit{
  border-radius: 10px;
  text-align: justify; 
  background: #7FC76D;
  color: white;
}

.buttonsave{
  width: 80px;
  height: 40px;
  margin-bottom: 0;
  margin-left: 4px;
  border-radius: 10px; 
  background: #9D4C54;
  color: white;
}

.buttoncancel{
  width: 80px;
  height: 40px;
  margin-bottom: 0;
  margin-left: 4px;
  border-radius: 10px; 
  background: #181422;
  color: white;
}

.buttonsave2{
  position: absolute;
  right: 200px;
  top:320px;
  padding: 10px 30px;
  background: #9D4C54;
  border-radius: 10px;
  font-size:20px;
}

.buttoncancel2{
  position: absolute;
  right:50px;
  top:320px;
  padding: 10px 30px;
  background: #181422;
  border-radius: 10px;
  font-size:20px;
}

.buttonadd{
  width: 40px;
  height: 40px;
  margin-top: 25px;
  margin-left: 4px;
  border-radius: 10px; 
  background: #7FC76D;
}

.buttonaddg{
  width: 40px;
  height: 40px;
  margin-top: 25px;
  margin-left: 4px;
  border-radius: 10px; 
  background-color: #73A9CC;
}

.buttonsub{
  width: 40px;
  height: 40px;
  margin-top: 25px;
  margin-left: 4px;
  border-radius: 10px; 
  background: #FFB546;
}

.buttonsubx{
  width: 40px;
  height: 40px;
  border-radius: 10px; 
  background: #FFB546;
}

.buttonadd2{
  position: absolute;
  right:250px;
  top:725px;
  padding: 5px 10px;
  background: #7FC76D;
  border-radius: 10px;
  font-size:20px;
}

.buttonsub2{
  position: absolute;
  right:200px;
  top:725px;
  padding: 5px 10px;
  background: #FFB546;
  border-radius: 10px;
  font-size:20px;
}


.PJ{
  display: inline-block;
  color:var(--color-content-text);
  font-size: 30px;
  font-weight: 700;
  margin: 20px 0 20px 20px;
}

#PJddcorner {
  border-radius: 15px;
  color:var(--color-content-text);
  margin-top: 5px;
  width: 300px;
  height: 50px;  
}

#JudgesCorner{
  border-radius: 15px;
  background:#282135;
  padding: 20px;
  max-width: 300px;
  min-height: 150px;
}

.label{
  color:var(--color-content-text);
  font-size: 16px;
  font-weight: 600;
  margin-left: 30px;
  position: relative;
  margin-top: 30px;
  padding-top: 3000px;
  text-align:right;
}

.labeljudges{
  color:var(--color-content-text);
  font-size: 16px;
  font-weight: 600;
  top: 20px;
  margin-left: 30px;
  position: relative;
  text-align:right;
}

.label2{
  color:var(--color-content-text);
  font-size: 16px;
  font-weight: 600;
  margin-left: 5px;
  position: relative;
  top: 520px;
  right: 60px;
  text-align:right;
  z-index: 2;
}

.label3{
  color:var(--color-content-text);
  font-size: 12px;
  font-weight: 600;
  margin-left: 5px;
  text-align:right;
}

.label4{
  color:var(--color-content-text);
  font-size: 12px;
}

#column { 
position: relative;
left: 30px;
right: 0;
top: 30px;
bottom: 500px;
width: 100;
min-height: 400px;

background: linear-gradient(0deg, #282135, #282135), #FFFFFF;
box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}

#column2 { 
  position: absolute;
  left: 30px;
  right: 50px;
  top: 780px;
  bottom: 50px;
  width: 100;
  height: 400px;
  
  background: linear-gradient(0deg, #282135, #282135), #FFFFFF;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  }

.select-menu{
  width: 300px;
  cursor: pointer;
  position: relative;
  top:40px;
}

.spancolor{
  color: #000000;
}

.select{
  background-color: #ffffff;
  padding: 20px;
  color: #000000;
  font-weight: 500;
  border-radius: 6px;
  margin:30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.options-list{
  position: absolute;
  width: 100%;
  background-color: #f9f9f9;
  border-radius: 7px;
  margin-top: 14px;
  top:100px;
  margin:50px;
  padding: 0 20px;
  max-height: 180px;
  overflow-y: auto;
  transition: .4s linear .2s;
  height: 0;
  z-index: 5000;
}

.option{
  padding: 8px 0;
  font-weight: 500;
  font-size: 14px;
  transition: .3s ease-in-out;
}


.options-list::-webkit-scrollbar{
  width: 4px;
  background-color: #eee;
}

.options-list::-webkit-scrollbar-thumb{
  background-color: #000000;
}

.options-list.active{
  height: 180px;
}

#add-event-container1 {
  width: 95%;
  height: 635px;
  background-color: var(--color-content-card);
  border-radius: 30px;
  margin: 10px 0 10px 0;
  padding: 50px;
  display: flex;
}

.card-body1{
  width: 100% auto;
  max-width:100% auto;
  background: var(--color-content-card);
  box-shadow: 4px 5px 10px;
  flex:1 1 auto;
  padding:1rem 1rem;
  margin-top: 2px;
  border-radius: 20px; 
  height: 100% auto;
  display: table;
}

.card-body2 {
  flex:1 1 auto;
  padding:1rem 1rem;
  margin-top: 2px;
  width: 100% auto;
  height: 100% auto;
  display: table;
}

#pj-form{
  width: 100%;
}

th{
  color: white;
}

.hide{
  display:none;
}

.inputjname{
  margin-left: 5%;
  margin-right: 5%;
  width: 280px;
  border-radius: 20px;
  height: 38px; 
  text-align:center;
}

.inputjnick{
  margin-right: 5%;
  width: 160px;
  border-radius: 20px;
  height: 38px; 
  text-align:center;
}

.inputjnickd{
  margin-right: 5%;
  margin-left: 5%;
  width: 160px;
  border-radius: 20px;
  height: 38px; 
  text-align:center;
}

input[readonly] {
  background-color: #4149b8;
  border: none;
  padding: 0;
  cursor: pointer;
}

.bordertable{
  border-bottom: 2px solid; 
  color:var(--color-content-text);
}

.judgeheader{
  color:var(--color-content-text);
  padding-right: 1%;
  padding-left: 1%;
  font-weight:1000;
  text-align:center;
}

.parheader{
  font-weight:1000; 
  color:var(--color-content-text);
  margin-left:50px; 
  margin-right:20px;
}

.inputpname{
  margin-right: 5px;width: 270px;border-radius: 20px;height: 38px; text-align: center;
}
.inputpcs{
  margin-right: 5px;width: 110px;border-radius: 20px;height: 38px; text-align: center;
}

.inputpcsd{
  margin-right: 5px; margin-left: 5px;width: 100px;border-radius: 20px;height: 38px; text-align: center;
}

.orgmargin{
  margin-left: 10px;
}

.btndel{
  border-radius:15px;width: 40px; height: 40px; color: white;background: #ff3636;
}

#popuplink{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
}

#clear-popupl{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
}

#discardChanges-popupl{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
}
.scorelink-container {
  position: relative;
}

#popupPar{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
}

#clear-popupp{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
}

#discardChanges-popupp{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
}

#popupparg{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
}

#clear-popuppg{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
}

#discardChanges-popuppg{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
}

/* Styling for the popup */
#auth-form {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 5px;
}

/* Styling for the popup content */
#auth-form h2 {
  margin-top: 0;
}

#auth-form input, #auth-form button {
  margin-bottom: 10px;
}