:root[data-theme="light"]{
    --pagination-background-1: #e5e5e500;
    --pagination-background-2: #e5e5e5B3;
    --pagination-background-3: #e5e5e5E6;
    --pagination-background-4: #e5e5e5;

    --pagination-text-color: #595959;
}

:root[data-theme="dark"]{
    --pagination-background-1: #1a1a1a00;
    --pagination-background-2: #1a1a1aB3;
    --pagination-background-3: #1a1a1aE6;
    --pagination-background-4: #1a1a1a;

    --pagination-text-color: #AEAEAE;
}

#paginationContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: end;
    position: absolute;
    user-select: none;
}

.paginationContainerContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 2vw;
    padding-bottom: 20px;
    padding-top: 60px;
    position: fixed;
    z-index: 99;
    background: linear-gradient(to bottom, var(--pagination-background-1), var(--pagination-background-2), var(--pagination-background-3), var(--pagination-background-4));
}

#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 10px;
    min-width: 690px;
    max-width: 690px;
}

.page {
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    clip-path: circle(50% at 50% 50%);
    position: relative;
    color: var(--pagination-text-color);
}

.page:hover {
    background-color: var(--hover-primary-action-color)!important;
    color: #FFF;
}

.page::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid var(--pagination-text-color);
    border-radius: 50%;
    box-sizing: border-box;
    clip-path: circle(50% at 50% 50%);
  }

  .page.selected {
    background-color: var(--active-primary-action-color)!important;
    color: #FFF;
    
}
.selected.page::after {
    border: none;
}

.goto-page, .items-page {
    display: flex;
    gap: 8px;
    height: fit-content;
    justify-content: center;
    align-items: center;
    align-self: center;
}

#paginationContainer p {
    margin-bottom: 0!important;
    color: var(--pagination-text-color);
}

.goto-page input {
    width: 50px;
    margin-bottom: 0!important;
    padding: 5px!important;
    background-color: #FFF;
}

.page-control {
    width: 50px!important;
    height: 40px!important;
    border-radius: 10px;
    padding: 3px!important;
}

select.page-control {
    cursor: pointer;
}

a.page, a.page.selected {
    text-decoration: none!important;
}
