:root[data-theme="light"]{
    --outline-button-border-color: #000;
    --hover-outline-button-color: #0000000D;
    --active-outline-button-color: #00000014;

    --hover-text-button-color: #0000000D;
    --active-text-button-color: #00000014;

    --default-icon-button-color: #FFAD6F;
    --default-icon-text-color: #FFF;

    --default-delete-button-color: transparent;
    --hover-delete-button-color: #0000000D;
    --active-delete-button-color: #00000014;

    --default-delete-text-color: #D03A36;
    --default-delete-border-color: #D03A36;

    --default-text-color: #1C1C1C;
    --alternate-text-color: #E4E4E4;

    --element-shadow-color: #9747FF40;
    --shadow-color: #00000040;
}

:root[data-theme="dark"]{
    --outline-button-border-color: #FFF;
    --hover-outline-button-color: #FFFFFF0d;
    --active-outline-button-color: #FFFFFF14;

    --hover-text-button-color: #FFFFFF0D;
    --active-text-button-color: #FFFFFF14;

    --default-icon-button-color: #E4E4E4;
    --default-icon-text-color: #1C1C1C;

    --default-delete-button-color: #D03A36;
    --hover-delete-button-color: #E54A47;
    --active-delete-button-color: #BF3733;

    --default-delete-text-color: #FFF;
    --default-delete-border-color: transparent;

    --default-text-color: #E4E4E4;
    --alternate-text-color: #1C1C1C;

    --element-shadow-color: #4800a740;
    --shadow-color: #00000080;
}

html {
    --default-primary-action-color: #5D2BA0;
    --hover-primary-action-color: #743EBA;
    --active-primary-action-color: #50208F;

    --default-secondary-action-color: #E4E4E4;
    --hover-secondary-action-color: #D3D3D3;
    --active-secondary-action-color: #AEAEAE;

    --disabled-action-text-color: #66666680;
    --disabled-action-color: #CCCCCC;

    --white-text-color: #fff;
    --black-text-color: #1C1C1C;

    --default-success-color: #00CA4E;
    --hover-success-color: #02DF57;
    --active-success-color: #00BA48;

    --default-warning-color: #FFAD6F;

    --default-danger-color: #D03A36;
    --hover-danger-color: #E54A47;
    --active-danger-color: #BF3733;
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Regular.ttf);
  }

* {
    font-family: 'Poppins';
    letter-spacing: 0.3px;
    margin: 0;
    padding: 0;
}

.success-color {
    color: var(--default-success-color);
}

.warning-color {
    color: var(--default-warning-color);
}

.danger-color {
    color: var(--default-danger-color);
}

.div{
    display: flex;
    justify-content: center;
    margin: 0 0 10px 0;
    gap: 8px;
}

/* Buttons */
.primary-button, .secondary-button, .text-button, .outline-button, .success-button, .warning-button, .danger-button, .delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px!important;
    font-weight: 500!important;
    padding: 12px 24px!important;
    min-width: 130px!important;
    max-width: 200px!important;
    border-radius: 30px!important;
    box-shadow: 0 4px 6px 0 var(--shadow-color);
    border: none!important;
    outline: none!important;
    cursor: pointer;
    user-select: none;
}

.primary-button i, .secondary-button i, .text-button i, .outline-button i, .success-button i, .warning-button i, .danger-button i, .delete-button i {
    font-size: 16px;
    padding: 6px 4px 6px 0!important;
}

.primary-button:disabled, .secondary-button:disabled, .text-button:disabled, .outline-button:disabled, .success-button:disabled, .warning-button:disabled, .danger-button:disabled {
    font-weight: 600!important;
    cursor: no-drop;
}

.primary-button {
    color: var(--white-text-color)!important;
    background-color: var(--default-primary-action-color)!important;
}

.primary-button:hover {
    background-color: var(--hover-primary-action-color)!important;
}

.primary-button:active {
    background-color: var(--active-primary-action-color)!important;
}

.secondary-button {
    color: var(--black-text-color)!important;
    background-color: var(--default-secondary-action-color)!important;
}

.secondary-button:hover {
    background-color: var(--hover-secondary-action-color)!important;
}

.secondary-button:active {
    background-color: var(--active-secondary-action-color)!important;
}

.text-button {
    color: var(--default-text-color)!important;
    background-color: transparent!important;
    box-shadow: none!important;
}

.text-button:hover {
    background-color: var(--hover-text-button-color)!important;
}

.text-button:active {
    background-color: var(--active-text-button-color)!important;
}

.text-button:disabled {
    color: var(--disabled-action-text-color)!important;
    background-color: transparent!important;
}

.outline-button {
    color: var(--outline-button-border-color)!important;
    background-color: transparent!important;
    outline: 2px var(--outline-button-border-color) solid!important;
    outline-offset: -2px;
}

.outline-button:hover {
    background-color: var(--hover-outline-button-color)!important;
}

.outline-button:active {
    background-color: var(--active-outline-button-color)!important;
}

.outline-button:disabled {
    color: var(--disabled-action-text-color)!important;
    background-color: transparent!important;
    border: 2px var(--disabled-action-text-color) solid!important;
}

.success-button {
    color: var(--white-text-color)!important;
    background-color: var(--default-success-color)!important;
    border: 2px transparent solid!important;
}

.success-button:hover {
    background-color: var(--hover-success-color)!important;
}

.success-button:active {
    background-color: var(--active-success-color)!important;
}

.warning-button {
    color: var(--white-text-color)!important;
    background-color: var(--default-warning-color)!important;
}

.danger-button {
    color: var(--white-text-color)!important;
    background-color: var(--default-danger-color)!important;
    border: 2px transparent solid!important;
}

.danger-button:hover {
    background-color: var(--hover-danger-color)!important;
}

.danger-button:active {
    background-color: var(--active-danger-color)!important;
}

.primary-button:disabled, .secondary-button:disabled, .success-button:disabled, .warning-button:disabled, .danger-button:disabled{
    color: var(--disabled-action-text-color)!important;
    background-color: var(--disabled-action-color)!important;
}

.icon-button {
    min-width: 0!important;
    max-width: none!important;
    padding: 16px!important;
}

.icon-button i{
    font-size: 18px!important;
    padding: 0!important;
}

.delete-button {
    color: var(--default-delete-text-color)!important;
    background-color: var(--default-delete-button-color)!important;
    border: 2px var(--default-delete-border-color) solid!important;
}

.delete-button:hover {
    background-color: var(--hover-delete-button-color)!important;
}

.delete-button:active {
    background-color: var(--active-delete-button-color)!important;
}

.delete-button i{
    color: var(--default-delete-text-color)!important;
}

.bxs-copy, .bx-copy, .bx-show, .bxs-show, .bx-hide, .bxs-hide {
    cursor: pointer;
}

/* Popup */
.popup-background {
    width: 100vw!important;
    height: 100vh!important;
    background-color: rgba(0, 0, 0, 0.5)!important;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100!important;
    margin: 0!important;
    padding: 0!important;
}

.popup-container {
    width: max-content!important;
    min-height: 270px!important;
    min-width: 270px!important;
    max-width: 410px!important;
    background-color: var(--color-content-card)!important;
    border-radius: 30px!important;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: calc(8px + 1vw)!important;
    color: var(--color-content-text);
}

.popup-container .prompt-icon {
    padding: 0;
    font-size: calc(60px + 3vw)!important;
}

.popup-container .text-header {
    font-weight: 900;
}

.popup-container .text-container {
    padding: 10px!important;
    text-align: start!important;
}

.popup-container .button-container {
    display: flex;
    justify-content: center;
}

.popup-container .div {
    justify-content: space-around;
    width: 100%;
}

/* List */
.element {
    width: 100%!important;
    max-width: 76vw;
    border-radius: 30px!important;
    margin: 5px 0 10px 0!important;
    padding: calc(12px + 2vw)!important;
    box-shadow: 0px 0px 10px 0 var(--shadow-color)!important;
    background-color: var(--color-content-card);
    color: var(--color-content-text);
    position: relative;
}

.element-group {
    overflow-wrap: break-word;
}

.element-label {
    font-weight: 700!important;
    font-size: 17px!important;
    margin: 0!important;
    user-select: none;
}

.element-label i {
    user-select: auto!important;
}

.element-content, .element-content-secured {
    font-size: 14px!important;
    overflow: hidden!important;
    white-space: nowrap!important;
    text-overflow: ellipsis!important;
    user-select: none;
}

.element-content-secured {
    -webkit-text-security: disc;
    user-select: auto!important;
}

.element-content-secured span i {
    -webkit-text-security: none;
}

.element .primary-button, .element .secondary-button, .element .outline-button, .element .text-button, .element .danger-button, .element .success-button {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16)!important;
}

.popup-container .primary-button, .popup-container .secondary-button, .popup-container .outline-button, .popup-container .text-button, .popup-container .danger-button, .popup-container .success-button {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16)!important;
}

/* Popup 2.0*/

.popUpDisableBackground {
    position: fixed; 
    height: 100vh;
    width: 100%;
    background: #00000091;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 9999;
    user-select: none;
    visibility: hidden;
}

.popUpDisableBackground .popUpContainer {
    height: fit-content;
    width: fit-content;
    background-color: var(--color-content-card);
    padding: 30px;
    border-radius: 30px;
    text-align: center;
    max-width: 600px;
    overflow-wrap: break-word;
    word-break: break-word;
    justify-content: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    opacity: 0;
}

.popUpContainer.show {
    animation: showPopup 0.8s ease both;
}

@keyframes showPopup {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    30% {
        opacity: 1;
        transform: scale(1.1);
    }
    50% {
        opacity: 1;
        transform: scale(0.9);
    }
    70% {
        opacity: 1;
        transform: scale(1.05);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.popUpDisableBackground.hide {
    animation: fadeOutPopup 0.3s ease both;
}

@keyframes fadeOutPopup {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


.popUpContainer > :not(button i) {
    font-size: 130px;
}

.popUpContainer .popUpHeader {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 28px;
    margin: 5px 0 5px 0;
    color: var(--color-content-text);
}

.popUpContainer .popUpMessage {
    font-size: 16px;
    margin: 5px 0;
    max-width: 500px;
    color: var(--color-content-text);
}

.popUpContainer .popUpMessage:first-letter {
    text-transform: capitalize;
}

.popUpContainer .popUpMessage::after {
    content: " ";
}


.popUpContainer .popUpButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0 5px 0;
    gap: 25px;
}

input[type="text"], input[type="password"], input[type="number"] {
    border: 1px solid var(--color-content-outline) !important;
    color: var(--color-content-text) !important;
    background-color: var(--color-content-element) !important;
    border-radius: 15px;
  }
  
input[type="date"], input[type="datetime-local"], input[type="time"]{
    border: 1px solid var(--color-content-outline) !important;
    color: var(--color-content-text) !important;
    background-color: var(--color-content-element) !important;
    cursor: pointer;
    border-radius: 15px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: blue !important;
}

input[type="text"]:focus, input[type="date"]:focus, input[type="time"]:focus, input[type="datetime-local"]:focus, input[type="password"]:focus, select:focus, textarea:focus{
    outline: none;
    border: 1px solid var(--color-content-text) !important;
}

input :not(.form-check-input), select{
    border-radius: 15px;
    border: 1px solid var(--color-content-outline) !important;
    color: var(--color-content-text) !important;
    background-color: var(--color-content-element) !important;
    box-shadow: var(--color-element-shadow) !important;
}

select{
    cursor: pointer;
}

textarea{
    display: inline-block;
    border-radius: 15px;
    border: 1px solid var(--color-content-outline) !important;
    resize: none;
    color: var(--color-content-text) !important;
    background-color: var(--color-content-element) !important;
    box-shadow: var(--color-element-shadow) !important;
}

.dropdown > button.btn {
    border-radius: 15px !important;
    color: var(--color-content-text) !important;
    background-color: var(--color-content-element) !important;
}

::placeholder {
    color: var(--color-content-text) !important;
}

input {
    color: var(--color-content-text)!important;
}

input[type="date"]::-webkit-calendar-picker-indicator{
    background-image: url(../images/calendar-solid-24.png);
}

input[type="time"]::-webkit-calendar-picker-indicator {
    background-image: url(../images/time-five-regular-24.png);
}

input[type="time"] {
    cursor: pointer;
}

input[type="time"]:focus {
    border: 1px var(--color-content-text) solid !important;
}

input[type="date"]::-webkit-calendar-picker-indicator, input[type="time"]::-webkit-calendar-picker-indicator, input[type="datetime-local"]::-webkit-calendar-picker-indicator{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
    opacity: 1;
    width: 23px;
    height: 23px;
    cursor: pointer;
    filter: var(--filter-default);
} 