:root[data-theme="light"] {
    --color-sidebar-bg:#282135;
    --color-sidebar-text: #f2f2f2;
    --color-sidebar-active: rgba(114, 106, 148, 0.8);
    --color-sidebar-subactive: rgba(114, 106, 148, 0.8);
    --color-sidebar-hover: rgba(114, 106, 148, 0.15);
    --color-sidebar-sublist-1: #FF605C;
    --color-sidebar-sublist-2: #00CA4E;
    --color-sidebar-sublist-3: #FFB546;
    --color-sidebar-sublist-4: #9747FF;

    --color-sidebar-chevron-icon: #5D2BA0;

    --color-container-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    --color-container-hover: 0px 0px 10px 3px rgba(0, 0, 0, 0.25);
    --color-element-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
    --color-element-hover: 0px 1px 4px 3px 3px rgba(0, 0, 0, 0.16);

    --color-body: #e5e5e5;
    --color-content-card: #F2F2F2;
    --color-content-element: #ffffff;
    --color-content-outline: #cccccc;
    --color-content-text: #272727;
    --color-content-line: #635B8180;
    --color-search-show: #FF605C;
    --color-content-button: #EDE7DD;
    --color-content-button-line: #635B81;

    --color-sc: #5D2BA0;
    --color-acap: #9474CF;
    --color-aeces: #A84444;
    --color-elite: #DF851B;
    --color-give: #73A9CC;
    --color-jehra: #D3B692;
    --color-jmap: #FFBD44;
    --color-jpia: #CF1659;
    --color-piie: #16BA9D;

    --color-red: #A84444;
    --color-yellow: #FFB546;
    --color-green: #7FC76D;
}

:root[data-theme="dark"] {
    --color-sidebar-bg:#1E1E1E;
    --color-sidebar-text: #f2f2f2;
    --color-sidebar-active: rgba(114, 106, 148, 0.5);
    --color-sidebar-subactive: rgba(114, 106, 148, 0.5);
    --color-sidebar-hover: rgba(114, 106, 148, 0.15);
    --color-sidebar-sublist-1: #FF605C;
    --color-sidebar-sublist-2: #00CA4E;
    --color-sidebar-sublist-3: #FFB546;
    --color-sidebar-sublist-4: #9747FF;

    --color-sidebar-chevron-icon: #5D2BA0;

    --color-container-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.25);
    --color-container-hover: 0px 0px 8px 2px rgba(0, 0, 0, 0.25);
    --color-element-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
    --color-element-hover: 0px 1px 4px rgba(0, 0, 0, 0.16);

    --color-sc: #5D2BA0;
    --color-body: #1a1a1a;
    --color-content-card: #272727;
    --color-content-element: #343434;
    --color-content-outline: #333333;
    --color-content-text: #f2f2f2;
    --color-content-line: #635B81CC;
    --color-search-show: #FF605C;
    --color-content-button: #635B81;
    --color-content-button-line: #635B81;

    --color-acap: #9474CF;
    --color-aeces: #A84444;
    --color-elite: #DF851B;
    --color-give: #73A9CC;
    --color-jehra: #D3B692;
    --color-jmap: #FFBD44;
    --color-jpia: #CF1659;
    --color-piie: #16BA9D;

    --color-red: #A84444;
    --color-yellow: #FFB546;
    --color-green: #7FC76D;
}

[data-theme='light'] .lightmode,
[data-theme='dark'] .darkmode {
    display: block !important;
}
