.home-section {
  background-color: var(--color-content-card) !important;
}

.form-select {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: var(--color-body) !important;
    border-color: var(--outline-button-border-color) !important;
  }
  
  /* Optional: Style the selected option */
.form-select option:checked {
    background-color: var(--color-body);
    color: white;
  } 


 #team-one-name, #team-two-name, #team-one-score, #team-two-score {
    color: var(--color-content-text);
    font-size: 70px;
    
} 

.col {
    width: fit-content;
    margin: 0%;
    padding: 40px;
    align-items: center;
    border-left: 4px;
    color: var(--color-content-text);
}

.col-4 {
  width: fit-content;
  margin: 0%;
  padding: 40px;
  align-items: center;
  border-left: 4px;
  color: var(--color-content-text);
}

#versus{
  padding-top: 250px;
}

#versus h1 {
  font-size: 50px;
  margin-bottom: 10px;
  font-weight: bold;
}

#team-one-score, #team-two-score {
    font-weight: bold;
    padding-bottom: 50px;
}

#tournamentEvent option:hover {
    background-color: var(--color-content-card) !important;
  }

.btn-primary {
    background-color: #4933A1 !important;
    font-size: 20px;
    color: white;
    border: none;
    width: 50px;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.25);
}

#end-match-btn {
  font-size: 16px;
  padding: 10px 20px;
  background-color: #A84444;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#end-match-btn:hover {
  background-color: var(--hover-delete-button-color);
}

#disqualify-team-one-btn {
  background-color: #A84444;
}


#disqualify-team-two-btn {
  background-color: #A84444;
}






@media (max-width: 1100px) {
    .form-select {
      font-size: 0.8rem;
    }
    
    #tournamentEvent {
        width:210px !important;
    }

    #tournamentMatchup{
        width: 145px !important;
    }
  
    #team-one-name,
    #team-two-name,
    #team-one-score,
    #team-two-score {
      font-size: 40px;
    }
  
    .btn-primary {
      font-size: 15px;
      width: 40px;
    }
  }


