#tournament-not-found {
    color: var(--color-content-text)!important;
    margin-top: 50px;    
}

.max-width {
    width: 300px;
    margin-top: 50px;
}

#create-tournament-button {
    margin-left: 80px;
    margin-bottom: 30%;
}

.input-container {
    padding: 10px;
}

.input-container select {
    margin-right: 10px;
}

#sub-text {
    color: var(--color-content-text)!important;
}
