.form-select {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin: auto;
}

/* Optional: Style the selected option */
.form-select option:checked {
  background-color: var(--color-body);
  color: white;
} 


#team-one-name, #team-two-name, #team-one-score, #team-two-score {
  background-color: var(--color-content-card);
  color: var(--color-content-text);
  font-size: 125px;
  
} 

.col {
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.25);
  width: fit-content;
  margin: 2%;
  padding: 40px;
  background-color: var(--color-content-card);
}


#team-one-score, #team-two-score {
  font-weight: bold;
}

#tournamentEvent {
  width:250px !important;
}

#tournamentMatchup{
  width: 170px !important;
}

/* select#tournamentEvent:hover {
  background-color: var(--outline-button-border-color) !important;
} */


@media (max-width: 1100px) {
  .form-select {
    font-size: 0.8rem;
  }
  
  #tournamentEvent {
      width:210px !important;
  }

  #tournamentMatchup{
      width: 145px !important;
  }

  #team-one-name,
  #team-two-name,
  #team-one-score,
  #team-two-score {
    font-size: 90px;
  }

}

@media (max-width: 870px) {
  .form-select {
    font-size: 0.8rem;
  }
  


  #team-one-name,
  #team-two-name,
  #team-one-score,
  #team-two-score {
    font-size: 60px;
  }

}

@media (max-width: 550px) {
  .form-select {
    font-size: 0.8rem;
  }
  


  #team-one-name,
  #team-two-name,
  #team-one-score,
  #team-two-score {
    font-size: 45px;
  }

}

